<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :author_id %>
    <%= form.select :author_id, Author.all.collect { | author| [author.name, author.id]}, {},  class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.collect { | category| [category.description, category.id]}, {},  class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title,  class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :subject %>
    <%= form.text_field :subject,  class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_area :text,  class: 'form-control', rows: 10 %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-sucess' %>
  </div>
<% end %>
