<h1>Homepage</h1>
<div class="row">
 <div class="col-xs-8">
<% @posts.each do |post| %>
  <h2>Title: <%= post.title %></h2>
  <h3>Subject: <%= post.subject %></h3>
  <h4>Text: <%= splitDescription post.text %></h4>
     <%= image_tag post.author.photo.thumb.url unless post.author.photo.file.nil? %>
  <strong><%= post.author.name %></strong>
  <small><%= post.created_at %></small>
  <hr/>
<% end %>
 </div>
  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">Categories</div>
      <div class="panel-body">
        <ul>
          <% Category.all.each do |category| %>
            <li><%= link_to category.description, homepage_posts_path(category_id: category.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Search</div>
      <div class="panel-body">
        <%= form_tag('/posts/homepage', method: 'post') do %>
          <%= text_field_tag(:term) %>
          <%= submit_tag('Search') %>
        <% end %>
      </div>
    </div>
  </div>
</div>

