<p id="notice"><%= notice %></p>

<h1>Homepage</h1>

<% @posts.each do | post | %>
  <h2> Title: <%= post.title %></h2>
  <h2> Subject: <%= post.subject %></h2>
  <h2> Text: <%= post.text %></h2>
  <strong><%= post.author.name %></strong>
  <small><%= post.created_at %> </small>
  <hr/>
<% end %>

